@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
.container {
    display: flex;
    align-items: center;
    flex-direction: column;


    margin: auto;
    padding: 20px;
    background-image: url("https://i.pinimg.com/originals/f4/e6/5e/f4e65e7f887093d2b427219f6b6342bf.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;


    background-origin: border-box;

}

.heading {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-shadow: 1px 1px white, -1px -1px white;
    font-size: 40px;
    letter-spacing: 2px;

}

.questions {



    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    grid-gap: 10px;

    padding:10px;

}

.cards{
    position: relative;
    height: 120px;
    width: 120px;
    transition: all 1s linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.front {

    position: absolute;
    border-radius: 15px;
    background-color: #ffb0bf;
    z-index: 3;
    height: 120px;
    width: 120px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #cc0066;
    font-size: 20px;
    text-shadow: 1px 1px gray;
    letter-spacing: 1.5px;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;

}


.back {
    position: absolute;
    border-radius: 15px;
    background-color: #cc0066;
    z-index: 1;
    height: 120px;
    width: 120px;
    text-shadow: 1px 1px gray;
    letter-spacing: 1.5px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #ffb0bf;
    font-size: 20px;

    transform: rotateY(180deg);
    backface-visibility: hidden;

}






.cards:hover {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}